name: Publish to NuGet
on:
  push:
    branches:
     - main
jobs:
  publish:
    name: build, pack and publish
    runs-on: windows-latest
    steps:
      - name: Set up .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'
          
      - name: checkout repo
        uses: actions/checkout@v3
        
      - name: Conventional Commits SemVer setup
        uses: grumpy-programmer/conventional-commits-semver-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      - name: build
        run: dotnet build -c Release
        
      - name: pack
        if: ${{ steps.semver.outputs.released == 'true' }}
        run: dotnet pack -c Release --property:Version=${{ steps.semver.outputs.version }}
        
      - name: publish
        if: ${{ steps.semver.outputs.released == 'true' }}
        run: dotnet nuget push **/*.nupkg -n -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json
