name: Publish to NuGet
on:
  push:
    branches:
     - main
jobs:
  publish:
    name: build, pack and publish
    runs-on: windows-latest
    steps:
      - name: Set up .NET 6
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'
          
      - name: checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
        
      - name: Conventional commits changelog
        uses: TriPSs/conventional-changelog-action@v3
        id: semver
        with:
          github-token: ${{ secrets.github_token }}
          
      - name: build
        run: dotnet build -c Release
        
      - name: pack
        run: dotnet pack -c Release --property:Version=${{ steps.semver.outputs.version }}
        
      - name: publish
        run: dotnet nuget push **/*.nupkg -n -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json
